<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Buscar Endereço</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-label position="stacked">Digite seu CEP</ion-label>
          <ion-input [(ngModel)]="cep"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button (click)="getAddress()" expand="block" shape="round">
        Pesquisar
      </ion-button>

      <ion-list *ngIf="address">
        <ion-item>
          <ion-label>CEP: <strong>{{ address.cep }}</strong></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Rua: <strong>{{ address.logradouro }} - {{ address.bairro }}</strong>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Bairro: <strong>{{ address.bairro }}</strong>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Local: <strong>{{ address.localidade }}/{{ address.uf }}</strong></ion-label>
        </ion-item>
      </ion-list>



    </ion-card-content>
  </ion-card>



  <ion-list>
    <div class="" *ngFor="let item of lista">
      <ion-item *ngIf="item.preco > 100">
        <ion-label>
          <h3>{{ item.nome  }}</h3>
          <h3>{{ item.preco | currency }}</h3>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>


</ion-content>