<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
    Pegar CEP
  </ion-button>

  <ion-list>
    <div class="" *ngFor="let item of lista">
      <ion-item *ngIf="item.preco > 100">
        <ion-label>
          <h3>{{ item.nome  }}</h3>
          <h3>{{ item.preco | currency }}</h3>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>


</ion-content>